name: Test Events 2

on:
  push:
    branches:
    - '**'
  pull_request:
    branches:
    - '**'

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      foreign_pr: ${{ steps.fp.outputs.foreign_pr }}    steps:
    - run: |
        if [ "${{ github.event_name }}" == "pull_request" ] && [ "${{ github.event.pull_request.head.repo.owner.login }}" != "${{ github.event.pull_request.base.repo.owner.login }}" ]; then
          echo "::set-output name=foreign_pr::1"
        else
          echo "::set-output name=foreign_pr::0"
        fi
      id: fp

  hello:
    runs-on: ubuntu-latest
    needs: prepare
    if: needs.prepare.outputs.foreign_pr == "0"
    steps:
    - run: "echo Hello!!!"
